@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
}

img{
    display: block;
    width:100%;
    height: auto;
    border-radius: 5px;
}

body{
    font-family: 'Roboto',sans-serif;
    font-size: 1.5rem;
    min-height: 100vh;

    display: grid;
    grid-template-rows: repeat(9,auto) 30px;
    
}

header,main,footer{
    display:flex;
}

header,footer{
    color:aliceblue;
    align-items: flex-start;
}

header{
    position: relative;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    grid-row: 1/4;
    background-image: url(../img/daniel-leone-g30P1zcOzXo-unsplash.jpg);
    background-color: rgb(18, 150, 226);
    background-position: bottom;
    background-size: cover;
}

header h1{
    padding: 2.5rem 1rem 1rem 1rem;
    margin:1rem;
    font-size: 6rem;
}

header figure{
    width:12rem;
}

header figure img{
    width:100%;
    height:auto;
    border-radius: 50%;
    padding:1rem;
    margin:1rem;
}

.nowrap{
    white-space: nowrap;
}


main{
    grid-row:4/10;
    background-color: beige;
    background-position: center;
    background-size: cover;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

main h2{
    font-size: 2.5rem;
    margin:0.25rem;
    padding:1rem 0.5rem;
    background-color: rgba(211, 211, 211, 0.438);
    color: rgb(207, 57, 57);
    border-radius: 10px;
}

.toolbar{
    position:relative;
    top:-10vh;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    gap:1rem;
}

.toolbar div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width:17rem;
    height:10rem;
    background-color: aliceblue;
    border-radius: 5px;
    border:2px solid white;
}

.toolbar div a{
    line-height: 2.5rem;
    text-align: center;
    padding-top: 2.5rem;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:rgb(66, 66, 66);
}

.toolbar div a:hover, .toolbar div a:active, .toolbar div a:focus{
    background-color: rgba(205, 208, 212, 0.61);
}

table{
    border: 2px solid gray;
    padding: 0.5rem;
    margin: 0.25rem;
    border-collapse: collapse;
}

th{
    background-color:rgba(148, 148, 148, 0.644);
    font-weight: bold;
    padding:0.5rem;
    margin: 0.25rem;
}

th:nth-child(even){
    background-color: rgba(152, 152, 152, 0.575);
}

td{
    font-weight: 300;
    border:1.5px solid rgba(196, 196, 196, 0.541);
    padding: 0.5rem 2rem;
    margin:0.25rem;
}

.action{
    font-size: 1.2rem;
    text-decoration: none;
    background-color: black;
    color: white;
    padding:0.3rem 0.7rem;
    border-radius: 16.3px;
}

footer{
    justify-content: center;
    grid-row: 10/11;
    background-color: rgb(6, 88, 143);
    position: sticky;
    bottom: 0;
}