@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
}

img{
    display: block;
    width:100%;
    height: auto;
    border-radius: 5px;
}

body{
    font-family: 'Roboto',sans-serif;
    font-size: 1.5rem;
    min-height: 100vh;

    display: grid;
    grid-template-rows: repeat(9,auto) 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}

.container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    grid-column: 1/6;
    grid-row: 1/11;
}

header,main,footer{
    display:flex;
}

header,footer{
    color:aliceblue;
    align-items: flex-start;
}

header{
    position: relative;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    grid-column: 1/6;
    grid-row: 1/4;
    background-image: url(../img/daniel-leone-g30P1zcOzXo-unsplash.jpg);
    background-color: rgb(18, 150, 226);
    background-position: bottom;
    background-size: cover;
}

header h1{
    padding: 2.5rem 1rem 1rem 1rem;
    margin:1rem;
    font-size: 6rem;
}

header figure{
    width:12rem;
}

header figure img{
    width:100%;
    height:auto;
    border-radius: 50%;
    padding:0.5rem 1rem;
    margin:1rem 1rem 6rem;
}

.nowrap{
    white-space: nowrap;
}


main{
    flex-grow: 1;
    grid-column: 1/6;
    grid-row:4/10;
    background-image: url(../img/adrien-olichon-_GH9LwhlSO4-unsplash.jpg);
    background-color: black;
    background-position: center;
    background-size: cover;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.nav{
    width:20vw;
    position:absolute;
    top:0;
    left:0;
}

.button{
    background-color: midnightblue;
    border:none;
    width:48px;
    height:48px;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    transition: all 0.3s;
}

.back-button{
    position: absolute;
    top:0;
    left:-17vw;
    display: block;
    width: 20vw;
    height:48px;
    background-color: midnightblue;
    transition: all 0.27s;
}

.button_icon,.button_icon::after,.button_icon::before{
    background-color: aliceblue;
    width:2.5rem;
    height:0.25rem;
    border-radius: 0.5rem;
    position:absolute;
    transition: all 0.3s;
}

.button_icon::after,.button_icon::before{
    content: '';
}

.button_icon::before{
    transform: translate(-20px,-12px);
}

.button_icon::after{
    transform: translate(-20px,12px);
}

:is(.nav:hover,.nav:focus-within) .button{
    transform:translateX(8vw);
}
:is(.nav:hover, .nav:focus-within) .button_icon{
    background-color: transparent;
}
:is(.nav:hover, .nav:focus-within) .button_icon::before{
    transform: translateX(-20px) rotate(45deg);
}
:is(.nav:hover, .nav:focus-within) .button_icon::after{
    transform: translateX(-20px) rotate(-45deg);
}
:is(.nav:hover, .nav:focus-within) .back-button{
    transform: translateX(17vw);
}
:is(.nav:hover, .nav:focus-within) nav{
    display: flex;
    flex-flow: column nowrap;
    animation: showmenu 0.2s linear forwards;
    transform-origin: left ;
}

@keyframes showmenu {
    0%{
        transform: scaleX(0);
    }
    50%{
        transform: scaleX(0.5);
    }
    100%{
        transform: scaleX(1); 
    }
}

.orders{
    position: relative;
    z-index: 0;
}

nav{
    display:none;
    flex-flow: column nowrap;
    position: relative;
    z-index: 2;
    height:35.4rem;
    background-color: midnightblue;
}

.account-list,.product-list,.home-list{
    border-bottom:1px solid rgb(17, 17, 70);
}

:is(.account-list,.product-list,.home-list) a{
    padding:0.425rem;
    text-align: center;
}

nav a{
    width: 100%;
    height:100%;
    display: block;
    background-color:transparent;
    text-decoration: none;
    color:whitesmoke;
}

nav a:hover, nav a:active, nav a:focus{
    background-color: rgba(20, 20, 88, 0.884);
}

:is(.home,.products,.account) h2 a:hover, :is(.home,.products,.account) h2 a:active, :is(.home,.products,.account) h2 a:focus{
    background-color: rgba(20, 20, 88, 0.884);
}

.home{
    border-top:1px solid rgb(17, 17, 70);
}

.home h2,.products h2,.account h2{
    text-align: center;
    display: block;
    background-color: transparent;
    font-size:2.5rem;
    width: 100%;
}

.home h2 a,.products h2 a,.account h2 a{
    padding:0.37rem 0;
    background-color: rgba(25, 25, 99, 0.651);
}

.toolbar{
    position:relative;
    top:-13vh;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    gap:1rem;
}

.toolbar div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width:17rem;
    height:10rem;
    background-color: rgb(205, 208, 212);
    border-radius: 5px;
    border:2px solid white;
}

.toolbar div a{
    line-height: 2.5rem;
    text-align: center;
    padding-top: 2.5rem;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:rgb(66, 66, 66);
}

.toolbar div a:hover, .toolbar div a:active, .toolbar div a:focus{
    background-color: rgba(190, 193, 197, 0.74);
}

.tables{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap:5rem;
}

table{
    border: 2px solid gray;
    padding: 0.5rem;
    margin: 0.25rem 0.25rem 1rem;;
    border-collapse: collapse;
    color:white;
}

th{
    background-color:rgba(212, 212, 212, 0.644);
    font-weight: bold;
    padding:0.5rem;
    margin: 0.25rem;
    color: rgb(255, 238, 238);
}

th:nth-child(even){
    background-color: rgba(202, 202, 202, 0.575);
}

td{
    font-weight: 300;
    border:1.5px solid rgba(196, 196, 196, 0.541);
    padding: 0.5rem 2rem;
    margin:0.25rem;
}

.action{
    font-size: 1.2rem;
    text-decoration: none;
    background-color: white;
    color: black;
    padding:0.3rem 0.7rem;
    border-radius: 16.3px;
}

.edit-account form{
    height:35vh;
}

fieldset{
    border:none;
}

.grid-form{
    display: grid;
    grid-template-columns: 31.8vw 31.8vw 10vw;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.first-name{
    grid-area:1/1/1/2
}

.last-name{
    grid-area: 1/2/1/3;
}

.address{
    grid-area: 2/1/2/3;
}

.city{
    grid-area: 3/1/3/2;
}

.state{
    grid-area: 3/2/3/3;
}

.mail{
    grid-area: 4/1/4/2;
}

.password{
    grid-area: 4/2/4/3;
}

.save-cancel{
    display: flex;
    flex-flow:column nowrap;
    justify-content: space-evenly;
    align-items: center;
    grid-area: 1/3/5/4;
}

.first-name,.last-name,.address,.mail,.password,.state,.city{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 8.75vh;
}

.address input{
    width:51.8vw;
}

label{
    color: aliceblue;
    font-size: 1.4rem;
    padding:0.25rem;
    margin:0.5rem;
    font-weight: 350;
}

input{
    font-size:1.2rem;
    width:20vw;;
    height:auto;
    margin: 0.2rem;
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 0.25rem;
    background-color: rgba(189, 218, 228, 0.274);
    color:whitesmoke
}

.edit-header{
    padding-left: 20rem;
    color:rgb(255, 238, 238);
}

.form h2{
    color:rgb(255, 238, 238);
    margin-bottom:1rem;
}

.save-cancel button[type=submit]{
    background-color:orangered;
    color:aliceblue;
    border:1px solid orangered;
    font-size: 1.25rem;
    width:8vw;
    padding:0.5rem;
    margin:0.25rem;
    border-radius: 5px;
}

.save-cancel button[type=reset]{
    background-color:transparent;
    color:orangered;
    border:1px solid orangered;
    font-size: 1.25rem;
    width:8vw;
    padding:0.5rem;
    margin:0.25rem;
    border-radius: 5px;
}

:is(.save-cancel button[type=submit]):hover,:is(.save-cancel button[type=submit]):active,:is(.save-cancel button[type=submit]):focus{
    background-color: rgba(219, 60, 3, 0.747);
}

:is(.save-cancel button[type=reset]):hover,:is(.save-cancel button[type=reset]):active,:is(.save-cancel button[type=reset]):focus{
    background-color: rgba(209, 207, 207, 0.747);
}

.edit-pfp img{
    width:13vw;
    height:auto;
    border-radius: 50%;
    margin:0.5rem;
    border:1px solid gray;
}

.edit-pfp figure{
padding-top: 2rem;
}

.edit-pfp figcaption{
    text-align: center;
}

.edit-pfp figcaption button{
    background-color:lightslategray;
    color:aliceblue;
    border:1px solid lightslategray;
    font-size: 1rem;
    width:8vw;
    padding:0.5rem;
    margin:0.25rem;
    border-radius: 5px;
}

.edit-pfp figcaption button:hover,.edit-pfp figcaption button:active,.edit-pfp figcaption button:focus{
    background-color: rgba(87, 103, 119, 0.842);
}

.options{
    text-align: center;
}

.membership select{
    font-size:1.5rem;
    width:20vw;;
    height:auto;
    margin: 0.2rem;
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 0.25rem;
    background-color: rgba(189, 218, 228, 0.274);
    color:whitesmoke;
}

.membership option{
    color:black;
}

.edit-account,.membership{
    border:1.5px solid gray;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.116);
}

.edit-account{
    display: flex; /* flex */
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding:2rem 3rem 3rem 3rem;
}

.membership{
    display: grid; /* grid */
    padding:3rem;
    margin:0.5rem;
}

footer{
    justify-content: center;
    grid-column: 1/6;
    grid-row: 10/11;
    background-color: rgb(6, 88, 143);
    position: sticky;
    bottom: 0;
}