@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
}

img{
    display: block;
    width:100%;
    height: auto;
    border-radius: 10px;
}

body{
    font-family: 'Roboto',sans-serif;
    font-size: 1.5rem;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

header,main,footer{
    display:flex;
}

header,footer{
    color:aliceblue;
    justify-content: center;
}


header{
    background-color: rgb(161, 35, 4);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/dave-netto-wWYwYiCoVwI-unsplash.jpg);
    background-size: cover;
    background-position: top;
    padding: 0.5rem;
}

main{
    background-image: url(../img/ivan-bandura-5cwigXmGWTo-unsplash.jpg);
    background-position: top;
    background-size: cover;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    gap:1rem;
    position: relative;
}

aside{
    width:4rem;
    height:auto;
    margin:0.25rem;
    background-color: rgba(211, 211, 211, 0.322);
    border-radius: 10px;
    position: fixed;
    top:5px;
    left:5px;
}
aside a{
    padding:1rem 0;
    text-align: center;
    display: block;
    width: 100%;
    height:auto;
    text-decoration: none;
    color:rgb(207, 57, 57);
}
aside a:hover, aside a:active{
    background-color: rgba(211, 211, 211, 0.445);
    border-radius: 10px;
    display: block;
    width:100%;
    height:auto;
    text-decoration: none;
    color:rgb(207, 57, 57);
}


h1{
    font-size: 7rem;
    display: block;
}

main h2{
    margin:0.25rem;
    padding:0.5rem;
    background-color: rgba(211, 211, 211, 0.438);
    color: rgb(207, 57, 57);
    border-radius: 10px;
}

p{
    text-align: center;
}

:is(header:hover, header:focus-within) .button_icon{
    background-color: transparent;
}
:is(header:hover, header:focus-within) .button_icon::before{
    transform: translateX(-20px) rotate(45deg);
}
:is(header:hover, header:focus-within) .button_icon::after{
    transform: translateX(-20px) rotate(-45deg);
}
:is(header:hover, header:focus-within) nav{
    animation: showmenu 0.2s linear forwards;
    transform-origin: top center;
}

nav{
    transform-origin: top center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    animation: showmenu_r 0.1s linear forwards;
}


@keyframes showmenu_r {
    0%{
        transform: scaleY(1);
        height:50vh;
    }

    50%{
        transform: scaleY(0.5);
        height:25vh;
    }

    100%{
        transform: scaleY(0);
        height:0;
    }
}

@keyframes showmenu {
    0%{
        transform: scaleY(0);
        height:0;
    }
    50%{
        transform: scaleY(0.5);
        height:25vh;
    }
    100%{
        transform: scale(1);
        height:50vh;
    }
}

.header_title{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.button{
    background-color: transparent;
    border:none;
    width:48px;
    height:48px;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.button_icon,.button_icon::after,.button_icon::before{
    background-color: aliceblue;
    width:2.5rem;
    height:0.25rem;
    border-radius: 0.5rem;
    position:absolute;
    transition: all 0.3s;
}

.button_icon::after,.button_icon::before{
    content: '';
}

.button_icon::before{
    transform: translate(-20px,-12px);
}

.button_icon::after{
    transform: translate(-20px,12px);
}

.home,.products,.account{
    width: 16rem;
    height: auto;
    margin:1rem;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.479);
    border: 1px solid gray;
    border-radius: 8px;
}

.home a,.products a,.account a{
    font-size: 1.8rem;
    padding: 0.7rem;
    width:100%;
    height:auto;
    border-top: 1px solid gray;
    display: block;
    text-decoration: none;
    color:aliceblue;
}

:is(.home,.products,.account) a:hover,:is(.home,.products,.account) a:focus,:is(.home,.products,.account) a:active{
    background-color: rgba(47, 79, 79, 0.438);
}

:is(.home,.products,.account) h2{
    font-size: 3rem;
    display: block;
    background-color: rgba(128, 128, 128, 0.685);
    border-radius: 8px 8px 0 0;
}

:is(.home,.products,.account) h2 a{
    width:100%;
    font-size: 3rem;
    display: block;
    border: none;
}

:is(.home,.products,.account) h2 a:hover,:is(.home,.products,.account) h2 a:focus,:is(.home,.products,.account) h2 a:active{
    background-color: rgba(47, 79, 79, 0.438);
    width:100%;
    height:auto;
    border-radius: 8px 8px 0 0;
}

.home-list:last-child a:hover,.home-list:last-child a:focus,.home-list:last-child a:active,.product-list:last-child a:hover,.product-list:last-child a:focus,.product-list:last-child a:active,.account-list:last-child a:hover,.account-list:last-child a:focus,.account-list:last-child a:active{
    border-radius: 0 0 8px 8px;
}

.content2 a{
    display: block;
    padding:0.5rem;
    margin:0.25rem;
    margin-top: 0.35rem;
    text-decoration: none;
    background-color: rgba(86, 250, 36, 0.726);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    color:darkgreen;
}

.content2 a:hover,.content2 a:focus,.content2 a:active{
    background-color: rgba(0, 128, 0, 0.678);
}


.about, .services, .contact{
    width:75%;
    padding: 0.25rem;
    margin:0.5rem;
    background-color: rgba(255, 228, 196, 0.534);
    border: 2px solid rgba(165, 42, 42, 0.603);
    border-radius: 10px;
}

.content1, .content2, .content3{
    padding:0.5rem;
    margin:0.25rem;
    background-color: rgba(211, 211, 211, 0.322);
    border-radius: 10px;
    color:rgb(44, 44, 44);
}

.content2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.content3{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.content3 a{
    text-decoration: none;
}

figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    background-color:rgb(6, 88, 143);
    position:sticky;
    bottom:0;
}